%Image::ExifTool::UserDefined = (
    # All EXIF tags are added to the Main table, and WriteGroup is used to
    # specify where the tag is written (default is ExifIFD if not specified):
    # XMP tags may be added to existing namespaces:
    'Image::ExifTool::XMP::xmp' => {
        # XMP-xmp:BuyerId
        BuyerId => { Writable => 'lang-alt' },
        # XMP-xmp:SpreadSheetName
        SellRows => { Writable => 'lang-alt' },
        # XMP-xmp:SplitRows
        SpreadSheetName => { Writable => 'lang-alt' },
        # add more user-defined XMP-xmp tags here...
    }
);